# ordinal encoding technique

In [61]:
import datetime

In [47]:
today=datetime.datetime.today()

In [48]:
today

datetime.datetime(2020, 8, 6, 1, 23, 15, 628033)

In [49]:
today-datetime.timedelta(2)

datetime.datetime(2020, 8, 4, 1, 23, 15, 628033)

In [50]:
days=[today-datetime.timedelta(x) for x in range (15)]

In [51]:
import pandas as pd
df=pd.DataFrame(days,columns=["Day"])
df

                          Day
0  2020-08-06 01:23:15.628033
1  2020-08-05 01:23:15.628033
2  2020-08-04 01:23:15.628033
3  2020-08-03 01:23:15.628033
4  2020-08-02 01:23:15.628033
5  2020-08-01 01:23:15.628033
6  2020-07-31 01:23:15.628033
7  2020-07-30 01:23:15.628033
8  2020-07-29 01:23:15.628033
9  2020-07-28 01:23:15.628033
10 2020-07-27 01:23:15.628033
11 2020-07-26 01:23:15.628033
12 2020-07-25 01:23:15.628033
13 2020-07-24 01:23:15.628033
14 2020-07-23 01:23:15.628033

In [52]:

df["week_days"]=df["Day"].dt.day_name()

In [53]:
df

                          Day  week_days
0  2020-08-06 01:23:15.628033   Thursday
1  2020-08-05 01:23:15.628033  Wednesday
2  2020-08-04 01:23:15.628033    Tuesday
3  2020-08-03 01:23:15.628033     Monday
4  2020-08-02 01:23:15.628033     Sunday
5  2020-08-01 01:23:15.628033   Saturday
6  2020-07-31 01:23:15.628033     Friday
7  2020-07-30 01:23:15.628033   Thursday
8  2020-07-29 01:23:15.628033  Wednesday
9  2020-07-28 01:23:15.628033    Tuesday
10 2020-07-27 01:23:15.628033     Monday
11 2020-07-26 01:23:15.628033     Sunday
12 2020-07-25 01:23:15.628033   Saturday
13 2020-07-24 01:23:15.628033     Friday
14 2020-07-23 01:23:15.628033   Thursday

In [54]:
dic={"Monday":1,"Tuesday":2,"Wednesday":3,"Thursday":4,"Friday":5,"Saturday":6,"Sunday":7}

In [55]:
dic

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [58]:
df["days_ordinal"]=df.week_days.map(dic)

In [59]:
df

                          Day  week_days  days_ordinal
0  2020-08-06 01:23:15.628033   Thursday             4
1  2020-08-05 01:23:15.628033  Wednesday             3
2  2020-08-04 01:23:15.628033    Tuesday             2
3  2020-08-03 01:23:15.628033     Monday             1
4  2020-08-02 01:23:15.628033     Sunday             7
5  2020-08-01 01:23:15.628033   Saturday             6
6  2020-07-31 01:23:15.628033     Friday             5
7  2020-07-30 01:23:15.628033   Thursday             4
8  2020-07-29 01:23:15.628033  Wednesday             3
9  2020-07-28 01:23:15.628033    Tuesday             2
10 2020-07-27 01:23:15.628033     Monday             1
11 2020-07-26 01:23:15.628033     Sunday             7
12 2020-07-25 01:23:15.628033   Saturday             6
13 2020-07-24 01:23:15.628033     Friday             5
14 2020-07-23 01:23:15.628033   Thursday             4